@model List<Core.Demandante.DemandanteModel>


<h4>Listado de demandantes:</h4><br />
<div data-ng-init="listDemandantes = @Json.Encode(Model)">



    <form>
        <div class="input-group">
            <span class="input-group-addon" style="border-radius:0"><i class="glyphicon glyphicon-search"></i></span>
            <input id="text" type="text" class="form-control" name="text" placeholder="Escribe para filtrar..." ng-model="filtroDemandantes" style="border-radius:0">
        </div>
    </form>

    <br />

    <table class="table table-striped table-bordered" style="text-align:center">
        <thead style="background-color:#565656; overflow:hidden">
            <tr style="color:white">
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('IdUsuario')">
                    Id Usuario 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='IdUsuario'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('Id')">
                    Id Empleador 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('Nombre')">
                    Nombre completo 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Nombre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('Edad')">
                    Edad 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Edad'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('Email')">
                    Email 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('NivelEstudiosNombre')">
                    Nivel estudios 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='NivelEstudiosNombre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('ExperienciaLaboral')">
                    Experiencia laboral 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='ExperienciaLaboral'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="x in listDemandantes | orderBy:sortKey:reverse | filter:filtroDemandantes">
                <td style="vertical-align:middle">{{x.IdUsuario}}</td>
                <td style="vertical-align:middle">{{x.Id}}</td>
                <td style="vertical-align:middle">{{x.Nombre}} {{x.Apellido1}} {{x.Apellido2}}</td>
                <td style="vertical-align:middle">{{x.Edad}}</td>
                <td style="vertical-align:middle">{{x.Email}}</td>
                <td style="vertical-align:middle">{{x.NivelEstudiosNombre}}</td>
                <td style="vertical-align:middle">{{x.ExperienciaLaboral}}</td>
            </tr>
        </tbody>
    </table>
</div>