@model List<Core.Empleador.EmpleadorModel>


<h4>Listado de empleadores:</h4><br />
<div data-ng-init="listEmpleadores = @Json.Encode(Model)">


    <form>
        <div class="input-group">
            <span class="input-group-addon" style="border-radius:0"><i class="glyphicon glyphicon-search"></i></span>
            <input id="text" type="text" class="form-control" name="text" placeholder="Escribe para filtrar..." ng-model="filtroEmpleadores" style="border-radius:0">
        </div>
    </form>

    <br />


    <table class="table table-striped table-bordered" style="text-align:center">
        <thead style="background-color:#565656; overflow:hidden">
            <tr style="color:white">
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('IdUsuario')">
                    Id Usuario 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='IdUsuario'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('Id')">
                    Id Empleador 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('NombreEmpresa')">
                    Nombre empresa 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='NombreEmpresa'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('Direccion')">
                    Dirección 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Direccion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('Email')">
                    Email 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('Telefono')">
                    Teléfono 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Telefono'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('NumeroEmpleados')">
                    Nº Empleados 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='NumeroEmpleados'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('TipoIndustriaNombre')">
                    Tipo Industria 
                    <span class="glyphicon sort-icon" ng-show="sortKey=='TipoIndustriaNombre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle"></th>
            </tr>
        </thead>


        <tbody>
            <tr ng-repeat="x in listEmpleadores | orderBy:sortKey:reverse | filter:filtroEmpleadores">
                <td style="vertical-align:middle">{{x.IdUsuario}}</td>
                <td style="vertical-align:middle">{{x.Id}}</td>
                <td style="vertical-align:middle">{{x.NombreEmpresa}}</td>
                <td style="vertical-align:middle">{{x.Direccion}}</td>
                <td style="vertical-align:middle">{{x.Email}}</td>
                <td style="vertical-align:middle">{{x.Telefono}}</td>
                <td style="vertical-align:middle">{{x.NumeroEmpleados}}</td>
                <td style="vertical-align:middle">{{x.TipoIndustriaNombre}}</td>
                <td style="vertical-align:middle"><button class="btn btn-info" data-toggle="modal" ng-click="ModalEmpleadores(x.Id)" style="border-radius: 0"><i class="glyphicon glyphicon-th-list"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>