@model List<Core.Empleador.OfertaEmpleo>


<h4>Listado de ofertas:</h4><br />
<div data-ng-init="listOfertas = @Json.Encode(Model)">

    @*<div class="form-group">
        <input type="text" ng-model="filtroOfertas" class="form-control pull-right" placeholder="Escribe para filtrar...">
        <br />
    </div>*@

    <form>
        <div class="input-group">
            <span class="input-group-addon" style="border-radius:0"><i class="glyphicon glyphicon-search"></i></span>
            <input id="text" type="text" class="form-control" name="text" placeholder="Escribe para filtrar..." ng-model="filtroOfertas" style="border-radius:0">
        </div>
    </form>


    <br />


    <table class="table table-striped table-bordered" style="text-align:center">
        <thead style="background-color:#565656; overflow:hidden">
            <tr style="color:white">
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('Id')">
                    Id Oferta
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('IdEmpleador')">
                    Id Empleador
                    <span class="glyphicon sort-icon" ng-show="sortKey=='IdEmpleador'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('Titulo')">
                    Título
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Titulo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('NumeroVacantes')">
                    Nº Vacantes
                    <span class="glyphicon sort-icon" ng-show="sortKey=='NumeroVacantes'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('Sueldo')">
                    Sueldo
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Sueldo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('FechaLanzamientoString')">
                    Fecha inicio
                    <span class="glyphicon sort-icon" ng-show="sortKey=='FechaLanzamientoString'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle" ng-click="sort('FechaFinString')">
                    Fecha fin
                    <span class="glyphicon sort-icon" ng-show="sortKey=='FechaFinString'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th style="text-align:center; font-weight:normal; vertical-align:middle"></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="x in listOfertas | orderBy:sortKey:reverse | filter:filtroOfertas">
                <td style="vertical-align:middle">{{x.Id}}</td>
                <td style="vertical-align:middle">{{x.IdEmpleador}}</td>
                <td style="vertical-align:middle">{{x.Titulo}}</td>
                <td style="vertical-align:middle">{{x.NumeroVacantes}}</td>
                <td style="vertical-align:middle">{{x.Sueldo}}</td>
                <td style="vertical-align:middle">{{x.FechaLanzamientoString}}</td>
                <td style="vertical-align:middle">{{x.FechaFinString}}</td>
                <td style="vertical-align:middle"><button class="btn btn-info" data-toggle="modal" ng-click="ModalOfertas(x.Id)" style="border-radius: 0"><i class="glyphicon glyphicon-user"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
