<!-- Scripts-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.0/angular-locale_es-es.min.js"></script>

<script src="~/Scripts propios/scriptCompile.js"></script>
<script src="~/Scripts propios/administracionController.js"></script>


<div ng-app="app">
    <div class="row" ng-controller="AdministracionController" ng-init="GetAllOfertas()">


        <br />
        <div class="col-sm-2">
            <div>
                <a ng-click="GetAllOfertas()">1. Ver ofertas</a><br />
                <a ng-click="GetDemandantes()">2. Ver demandantes</a><br />
                <a ng-click="GetEmpleadores()">3. Ver empleadores</a><br />
                <a ng-click="GetUsuarios()">4. Ver usuarios</a><br />
            </div>
        </div>

        <div class="col-sm-10 well well-lg">
            <div id="Ofertas"></div>
            <div id="Demandantes"></div>
            <div id="Empleadores"></div>
            <div id="Usuarios"></div>
        </div>








        <!--  MODAL VER DETALLE MI OFERTA  ###############################  -->
        <div class="modal fade" id="modalOfertasPorEmpleador" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document" style="overflow-y: initial !important; width:1000px">
                <div class="modal-content" style="overflow: hidden">

                    <div class="modal-header" style="text-align:center; background-color:#f0ad4e; padding-bottom:0">
                        <h4 class=" modal-title" id="modalTitle" style="color:white">Detalles del empleador:</h4>
                    </div>
                    <div class="modal-body" style="max-height: calc(100vh - 200px) !important; overflow-y: auto !important;">


                        <div id="OfertasPorEmpleador"></div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-" data-dismiss="modal">Atrás</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ################################ -->
        <!--  MODAL VER DETALLE MI OFERTA  ###############################  -->
        <div class="modal fade" id="modalDemandantesInscritos" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document" style="overflow-y: initial !important; width:1000px">
                <div class="modal-content" style="overflow: hidden">

                    <div class="modal-header" style="text-align:center; background-color:#f0ad4e; padding-bottom:0">
                        <h4 class=" modal-title" id="modalTitle" style="color:white">Detalles de la oferta:</h4>
                    </div>
                    <div class="modal-body" style="max-height: calc(100vh - 200px) !important; overflow-y: auto !important;">


                        <div id="DemandantesInscritos"></div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-" data-dismiss="modal">Atrás</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ################################ -->


        <!--  MODAL ELIMINAR USUARIO  ###############################  -->
        <div class="modal fade" id="modalEliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document" style="overflow-y: initial !important; padding-top:350px; width:450px">
                <div class="modal-content" style="overflow: hidden">

                    <div class="modal-header" style="background-color:#565656; padding-bottom:0">
                        <h5 class=" modal-title" id="modalTitle" style="color:white; margin-bottom:10px"><i class="glyphicon glyphicon-trash"></i></h5>
                    </div>
                    <div class="modal-body" style="max-height: calc(100vh - 200px) !important; overflow-y: auto !important;">

                        <p style="text-align: center">¿Estás seguro de que deseas eliminar el usuario <span><b>{{usuarioParaEliminar.User}}</b></span>?</p>
                        <p style="text-align: center">El usuario se borrará permanentemente</p>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-danger" ng-click="EliminarUsuario(usuarioParaEliminar.Id, usuarioParaEliminar.TipoUsuario)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ################################ -->




    </div>
    <br /><br /><br /><br />
</div>