@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Iniciar sesión", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Registrarse", "Index", "Registro", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li><a href="/Login/Index"><i class="glyphicon glyphicon-log-in" style="margin-right: 3px;"></i> Iniciar sesión</a></li>
        <li><a href="/Registro/Index"><i class="glyphicon glyphicon-user" style="margin-right: 3px;"></i> Registrarse</a></li>
        <li><a href="/Administracion/Login"><i class="glyphicon glyphicon-cog" style="margin-right: 3px;"></i> Panel de administración</a></li>
    </ul>
}
