@model Core.Login.LoginModels


<!-- Scripts-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.0/angular-locale_es-es.min.js"></script>

<script src="~/Scripts propios/loginController.js"></script>

<div ng-app="app">
    <img src='~/Imagenes/pexels-photo-884454.jpeg' style='position:fixed;top:0;left:0;width:100%;height:100%;z-index:-1;opacity:0.4'>

    <div class="row">
        <div class="col-sm-4"></div>


        <div class="col-sm-4" style="height:780px; padding-top:150px">
            <br><br><br>
            <div class="well" style="border-radius:0; background-color:#428bca; padding:0; margin:0; border:1px solid #428bca">
                <h5 style="text-align:center; color:white">Inicio de sesión</h5>
            </div>
            <div class="well" style="border-radius:0; background-color:#f9f9f9;">
                <div ng-controller="LoginController" data-ng-init="init()" class="demo" style="width:auto">
                    <form id="userForm" method="post" name="userForm" ng-show="!signUp.submitted" ng-submit="userForm.$valid">
                        <div class="form-group">
                            <i class="glyphicon glyphicon-user" style="color:#428bca"></i><span style="color:#428bca"> Usuario:</span><br />
                            <input type="text" ng-model="user.User" class="form-control" name="user" id="user" style="border-radius:0; max-width:500px; border-color:#dedede;" required />
                            <span class="text-danger" ng-show="userForm.users.$error.required && (userForm.users.$dirty && userForm.users.$touched)"></span>
                        </div>

                        <div class="form-group clearfix" style="margin-bottom:0;">
                            <i class="glyphicon glyphicon-lock" style="color:#428bca"></i><span style="color:#428bca"> Contraseña:</span><br />
                            <input type="password" ng-model="user.Password" class="form-control" name="password" id="password" style="border-radius:0; max-width:500px; border-color:#dedede;" required /> <br />
                            <input type="submit" class="btn btn-primary pull-right" value=" Acceder" id="btn-submit" ng-click="ValidarDatos()" style="border-radius:0; border:none;">
                        </div>
                    </form>
                </div>
            </div>

            <div class="form-inline" style="display:flex">
                <h5 style="color:white">¿Aún no tienes tu cuenta? </h5>
                <button class="btn btn-link" value="Registrarse" id="btn-registro" onclick="location.href='/Registro/Index';" style="padding-left:5px; padding-top:4px;color:lightskyblue" />Regístrate aquí</button>
            </div>
        </div>

        <div class="col-sm-4"></div>
    </div>
</div>